/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.unicredit-section .heading {background: url("images/unicredit_logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem;}
.unicredit-section .button-container {float: right;}
.unicredit-section .config-alt {background: url("images/unicredit_allinone.png") no-repeat scroll 0 0 / 100% auto; height: 28px; margin: 0.5rem 0 0; width: 230px;}
