<div class="footer-container footer">
    <section id="footerTopBanner">
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_banner')->toHtml();?>
    </section>


    <section id="footerNewsletter">
        <div class="item">
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_newsletter_block')->toHtml();?>

        </div>
    </section>
	<div class="footerLinks-container">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_links_block')->toHtml();?>
	</div>

	<div class="footer-bottom">
		<div class="container-inner">
			<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_por')->toHtml();?>
			<div class="container-size">
				<?php echo $this->getChildHtml('copyright')?>
				<?php echo $this->getChildHtml("store_switcher"); ?>
				<div class="footer-payment pull-right">
					<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment')->toHtml();?>
				</div>
				<div id="back_top">
					<a href="#back-top"><span>>top</span></a>
				</div>
			</div>
		</div>
	</div>
  <!--  <div class="addthis_sharing_toolbox"></div>
 Go to www.addthis.com/dashboard to customize your tools
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5054e6c6502d114f"></script>
</div>-->
<script type="text/javascript">
			
	require(["jquery"], function($){

	   $(window).scroll(function() {
			if($(this).scrollTop() > 300) {
				$('#back_top').fadeIn();   
			} else {
				$('#back_top').fadeOut();
			}
		});
		   $('#back_top').click(function() {
			$('body,html').animate({scrollTop:0},500);
		}); 
		if (jQuery(window).width() < 767) {   
			jQuery('.footer-static .footer-static-title').click(function(){     
				jQuery(this).parent('.col-xs').toggleClass('active').siblings().removeClass('active'); 
				jQuery(this).next('.col-xs .footer-static-content').toggle(300);
				jQuery(this).parent('.col-xs.active').siblings().children('.col-xs .footer-static-content').slideUp(300); 
			}); 
			 
		}
	   
	});
</script>