<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var $block \Shinesoftware\Unicredit\Block\Payment\Info */
?>
<?php

$code = $block->escapeHtml($block->getMethodCode());
$payment = $block->getPaymentInformation();

?>
<div class="admin__fieldset payment-method" id="payment_form_<?php echo $code; ?>">
    <div class="admin__field _required">
        <label class="admin__field-label" for="<?php echo $code; ?>_payment">
            <h2><?php echo $block->escapeHtml(__('Unicredit')); ?></h2>
        </label>
        <div class="admin__field-control">
            <?php foreach ($payment as $key => $info): ?>
                <p><strong><?php echo $key; ?></strong>: <br/><?php echo $info; ?></p>
            <?php endforeach; ?>
        </div>
    </div>
</div>
