<h1><?php echo $this->__("Ops! Something goes wrong!") ?></h1>
<h5><?php echo $this->__("here below you will find some suggestions:") ?></h5>
<ul>
    <li><?php echo $this->__("Check your email, you have received a bank message with more details!") ?></li>
    <li><?php echo $this->__("If you have not received any message from the bank, please call the store owner.") ?></li>
</ul>
<div class="buttons-set">
    <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
</div>

