<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * Note: This mark is a requirement of Unicredit
 * @var \Shinesoftware\Unicredit\Block\Form $block
 * @see \Shinesoftware\Unicredit\Block\Form
 */
$url = $block->escapeUrl($block->getPaymentAcceptanceMarkHref());
?>
<!-- Unicredit Logo -->
<img src="<?php echo $block->escapeUrl($block->getPaymentAcceptanceMarkSrc()) ?>"
     alt="<?php echo $block->escapeHtml(__('Acceptance Mark')); ?>" class="unicredit icon"/>
<a href="<?php /* @noEscape */ echo $url; ?>"
   onclick="javascript:window.open(
           '<?php /* @noEscape */ echo $url; ?>',
           'olcwhatisunicredit',
           'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, ,' +
           'left=0, top=0, width=400, height=350'
       ); return false;"
   class="action unicredit about">
    <?php if ($block->getPaymentWhatIs()) {
        echo $block->escapeHtml(__($block->getPaymentWhatIs()));
} else {
        echo $block->escapeHtml(__('What is Unicredit?'));
} ?>
</a>
<!-- Unicredit Logo -->
