<?php $url = $block->getSecureUrl() ?>

<?php if(!empty($url)): ?>
    <h1><?php echo $this->__('Unicredit MyBank Page Redirection ...') ?></h1>
    <p><?php echo sprintf($this->__("If you are not redirected to the Secure Bank page, please click here %s!"), "<a href='" . $url . "'>link</a>") ?></p>
    <p><?php echo $this->__("Redirecting to Unicredit Moneta On Line Payment Gateway...") ?></p>
    <script>setTimeout(function(){window.location.href="<?php echo $url ?>"},3000);</script>
<?php else: ?>
    <h1><?php echo $this->__("Ops! Something goes wrong!") ?></h1>
    <h5><?php echo $this->__("here below you will find some suggestions:") ?></h5>
    <ul>
        <li><?php echo $this->__("Have you used the browser back button? Don't use it! Create a brand new order!") ?></li>
        <li><?php echo $this->__("The bank server is on maintenance or there is a connection error! By the way, please pay with another payment method.") ?></li>
        <li><?php echo $this->__("Please contact the store owner by contact form or by email.") ?></li>
        <li><?php echo $this->__("If you are the store owner check the log files in your Magento store and contact the bank helpdesk.") ?></li>
    </ul>
    <div class="buttons-set">
        <button type="button" class="button" title="<?php echo $this->__('Continue Shopping') ?>" onclick="window.location='<?php echo $this->getUrl() ?>'"><span><span><?php echo $this->__('Continue Shopping') ?></span></span></button>
    </div>
<?php endif; ?>
