<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Plazathemes\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
    $info = $this->getInfoBlock();
?>
<li class="post-holder post-holder-<?php echo $_post->getId() ?>">
	<div class="row">
        <div class="col-sm-2 col-xs-12">
            <div class="post-posed-date">
                <?php $myDate = trim($info->getPostedOn('d')) .'/' .trim($info->getPostedOn('m')) .'/' .trim($info->getPostedOn('Y')); ?>

                <?php echo preg_replace('/\s+/', '', $myDate); ?>
            </div>
        </div>
		<div class="col-sm-4 col-xs-12">
			<div class="post-images">
					<img src="<?php echo $this->getMediaFolder().$_post->getThumbnailimage() ?>"/>
				<?php //echo $this->getInfoHtml() ?>
			</div>
		</div>
		<div class="col-sm-4 col-xs-12">
			<div class="post-content">
                <!--
				<div class="post-title-holder clearfix">
					<h2 class="post-title">
						<a class="post-item-link"
						   href="<?php echo $_postUrl ?>">
							<?php echo $_postName; ?>
						</a>
					</h2> 
				</div>
				-->
				<div class="post-description clearfix">
					<?php echo $block->getContent() ?>
					
				</div>
                <!--
				<a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
					   >
				   <?php echo __('Continus Reading &#187;') ?>
				</a>
				-->






			</div>
            <ul class="social">
                <li><a href="https://www.facebook.com/sharer.php?u=<?php echo urlencode($block->escapeUrl($this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]))); ?>" target="_blank"><i class="fa fa-facebook"></i></a></li>

                <li><a href="https://twitter.com/share?text=<?php echo $block->escapeHtml($_postName); ?>&url=<?php echo urlencode($block->escapeUrl($this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]))); ?>" target="_blank"><i class="fa fa-twitter"></i></a></li>

                <li><a href="http://pinterest.com/pin/create/button/?url=<?php echo urlencode($block->escapeUrl($block->escapeUrl($this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true])))); ?>&description=<?php echo $_postName; ?>" target="_blank"><i class="fa fa-pinterest"></i></a></li>

            </ul>
		</div>
        <div class="col-sm-2 col-xs-12">

        </div>
	</div>
    

   
</li>