<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @see \Shinesoftware\Unicredit\Block\System\Config\Fieldset\Hint
 * @var \Shinesoftware\Unicredit\Block\Adminhtml\System\Config\Fieldset\Hint $block
 */
$helpLink = $block->escapeUrl($block->getHelpLink());
?>
<?php
if ($helpLink):
?>
    <div class="paypal-payment-notice">
        <?php echo $block->escapeHtml(__('Not sure what Unicredit payment method to use? Click ')); ?>
        <a href="<?php /* @noEscape */
        echo $helpLink; ?>" target="_blank"><?php echo $block->escapeHtml(__('here')); ?></a>
        <?php echo $block->escapeHtml(__(' to learn more.')); ?>
    </div>
<?php
endif;
?>
