<?php /*
<div class="main-container col2-left-layout">

	<div class="container-inner">
		<div class="row">
			<div class="col-xs-12 ">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_novita_home')->toHtml(); ?>
			</div>
		</div>
	</div>

	<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_home_1')->toHtml(); ?>
	
	<div class="container-inner">
		<div class="row">
			<div class="col-xs-12 ">
				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_best_seller_home')->toHtml(); ?>
			</div>
		</div>
	</div>
	
	<div class="container-inner">
		<div class="row">
			<div class="col-xs-12 ">
				<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_home_video')->toHtml(); ?>
			</div>
		</div>
	</div>
	
	<?php  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static_home_2')->toHtml(); ?>
	
	<div class="intagaram">
		<div class="container-inner">
			<?php echo $block->getLayout()->createBlock('Plazathemes\InstagramGallery\Block\InstagramGallery')->setTemplate('Plazathemes_InstagramGallery::plazathemes/instagramgallery/default.phtml')->toHtml();?>
		</div>
	</div>
	
	<div class="bran">
		<div class="container-inner">
			<?php //echo $block->getLayout()->createBlock('Plazathemes\Brandslider\Block\Brandslider')->setTemplate('Plazathemes_Brandslider::brandslider.phtml')->toHtml();?>
		</div>	
	</div>
	
</div>

*/ ?>
