<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('vertnav')->toHtml();?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
$current_id = $category->getId();
//$parent_category = $category->getParentCategory();
//$catId =$parent_category->getId();
//$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);

$subcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($current_id);
$subcats = $subcategory->getChildrenCategories();


if($subcats) :
?>

<div id="catVertNavMobile">
    <ul>
        <li class="topLevel">
            <?php echo __('Collections'); ?>
            <ul>
                <?php
                foreach ($subcats as $subcat) {
                    if ($subcat->getIsActive()) {

                    $addClass = '';
                    if($current_id == $subcat->getId()) {
                        $addClass = 'active';
                    }
                    $subcat_url = $subcat->getUrl();
                    $subcat_img = "";
                    $placeholder_img = "/media/placeholder.png";
                    ?>
                    <li>
                        <a href="<?php echo $subcat_url; ?>" class="<?php echo $addClass; ?>">
                            <?php echo strtolower($subcat->getName()); ?>
                        </a>
                        <?php
                        $subSubcategory = $objectManager->create('Magento\Catalog\Model\Category')->load($subcat->getId());
                        $subSubcats = $subSubcategory->getChildrenCategories();
                        if($subSubcats) :
                            echo '<ul>';
                            foreach ($subSubcats as $subSubcat) {
                                if ($subSubcat->getIsActive()) {

                                    $subSubcat_url = $subSubcat->getUrl();
                                    $subSubcat_img = "";
                                    $placeholder_img = "/media/placeholder.png";
                                    ?>
                                    <li>
                                        <a href="<?php echo $subSubcat_url; ?>">
                                            <?php echo strtolower($subSubcat->getName()); ?>
                                        </a>

                                    </li>

                                    <?php
                                }
                            }
                            echo '</ul>';
                        endif;
                        ?>
                    </li>

                <?php
                }
            }
            ?>
            </ul>

        </li>
    </ul>
</div>
<?php
endif;
?>