<div id="filterMobile">
    <ul>
        <li class="topLevel">
            <?php echo __('Filter by'); ?>
            <ul>
                <li>

                </li>
            </ul>


        </li>
    </ul>
</div>