<?php
$actual_link = "//" .$_SERVER['HTTP_HOST'] .$_SERVER['REQUEST_URI'];
$uri_parts = explode('?', $actual_link, 2);

$newProduct = '<b><u>' . __('New Arrival') .'</u></b>';
$name = __('Name');
$priceL = __('Increasing Price');
$priceH = __('Decreasing Price');

if(!isset($_GET['product_list_order'])) {
    $newProduct = '<b><u>' . __('New Arrival') .'</u></b>';
    $name = __('Name');
    //$priceL = __('Price') .' <i class="fa fa-arrow-up"></i>';
    //$priceH = __('Price') .' <i class="fa fa-arrow-down"></i>';

} else {
    if(strtolower($_GET['product_list_order']) == 'name') {
        $newProduct = __('New Arrival');
        $name = '<b><u>' . __('Name') . '</u></b>';
        //$priceL = __('Lower Price');
        //$priceH = __('Higher Price');
    } else {
        if(strtolower($_GET['product_list_order']) == 'price') {
            $newProduct = __('New Arrival');
            $name = __('Name');
            //$priceL = __('Lower Price');
            //$priceH = __('Higher Price');
            if(strtolower($_GET['product_list_dir']) == 'asc') {
                $priceL = '<b><u>' . __('Increasing Price') . '</u></b>';
            } else {
                $priceH = '<b><u>' . __('Decreasing Price') . '</u></b>';
            }
        }
    }

}

?>


<div id="reorderMobile">
    <ul>
        <li class="topLevel">
            <?php echo __('Order by'); ?>
            <ul>
                <li>
                    <a href="<?php echo $uri_parts[0]; ?>"><?php echo $newProduct; ?></a
                </li>
                <li>
                    <a href="<?php echo $uri_parts[0]; ?>?product_list_order=name"><?php echo $name; ?></a>
                </li>
                <li>
                    <a href="<?php echo $uri_parts[0]; ?>?product_list_order=price&product_list_dir=asc"><?php echo $priceL; ?></a>
                </li>
                <li>
                    <a href="<?php echo $uri_parts[0]; ?>?product_list_order=price&product_list_dir=desc"><?php echo $priceH; ?></a>
                </li>

            </ul>

        </li>
    </ul>
</div>