<?php
$actual_link = "//" .$_SERVER['HTTP_HOST'] .$_SERVER['REQUEST_URI'];
$uri_parts = explode('?', $actual_link, 2);

$newProduct = '<b><u>' . __('New Arrival') .'</u></b>';
$name = __('Name');
$price = __('Price');

if(!isset($_GET['product_list_order'])) {
    $newProduct = '<b><u>' . __('New Arrival') .'</u></b>';
    $name = __('Name');
    $price = __('Price');

} else {
    if(strtolower($_GET['product_list_order']) == 'name') {
        $newProduct = __('New Arrival');
        $name = '<b><u>' . __('Name') . '</u></b>';
        $price = __('Price');
    } else {
        if(strtolower($_GET['product_list_order']) == 'price') {
            $newProduct = __('New Arrival');
            $name = __('Name');
            $price = '<b><u>' . __('Price') . '</u></b>';
        }
    }

}

?>
<div class="reorder-container">
    <span><?php echo __('Order by'); ?> :</span> <a href="<?php echo $uri_parts[0]; ?>"><?php echo $newProduct; ?></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $uri_parts[0]; ?>?product_list_order=name"><?php echo $name; ?></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $uri_parts[0]; ?>?product_list_order=price"><?php echo $price; ?></a>
</div>