//Store Locator
.stockists .columns .column.main {
    padding-bottom: 0px !important;
}
.stockists-window .stockists-title {
	color: @general_text_color !important;
}
.stockists-window p {
	font-family: 'Lato', sans-serif !important;
}
.search-stockists .search-title {
	font-family: 'Lato', sans-serif !important;
	color: @general_text_color !important;
}
.search-stockists p {
	font-family: 'Lato', sans-serif !important;
}
.search-stockists .results-title {
	color: @general_text_color !important;
}
#stockists-submit {
	margin-top: 20px;
}
#stockists-submit,
.find-my-location {
    background: @general_text_color !important;
}
.find-my-location:hover{
    background: @general_text_color !important;
}
.page_width_sidebar .search-stockists, .full_width_sidebar .search-stockists {
    height: auto !important;
}
.ask-for-directions {
	margin-top: 10px;
	text-decoration: underline;
}


//One Page Checkout
.onepage-index-index .logo {
	float: none;
}
.iwd_empty_cart_powered_by,
#iwd_opc_powered_by_logo {
	display: none!important;
}
