.top-bar * {
	font-weight: bold !important;
}

.top-bar .store-locator {
	float: right;
    margin-right: 50px;
}

.top-bar .store-locator a {
	text-decoration: none;
}

.top-bar ul.links.link-follow {
    margin-right: 50px;
}

.top-bar ul.links.link-follow li a:hover {
    background: none;
}

.logo img {
	margin: auto;
}

.header-content {
	.card{
		margin-top: 18px;
	}
	.nav-ozmegamenu {
		margin-top: 18px;
	}
}

.fix-nav-ozmegamenu .logo img {
	max-height: 45px;
	width: auto;
}

.pt_custommenu div.popup.cmsblock {
    left: 0 !important;
}

.pt_custommenu div.popup.cmsblock .block2 {
    overflow: hidden;
    padding: 30px 30px 40px 30px;
}

.itemSubMenu.level1 {
	display: inline-block;
	width: 50%;
	float: left;
}

.mobile-bar-content {
	overflow-y: auto;
}

.mobile-bar-content .mobile-bar-close {
	left: 0;
	top: 50px !important;
}

.mobilemenu .level1 a {
	text-transform: uppercase;
}

.block-menu .level1 {
	font-size: 1.3rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 20px;
	margin-bottom: 10px;
	color: #393939;
	padding-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;
	white-space: normal;
	word-wrap: break-word;
	word-break: normal;
}

.block-menu .level2 a {
	text-transform: capitalize;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 30px;
	white-space: normal;
	word-wrap: break-word;
	word-break: normal;
	text-decoration: none;
	display: block;
}

.categorytab-container.custom-grid .title-tab {
    border: 3px solid #8d8d8d;
	border-width: 3px 0;
}

.categorytab-container.custom-grid.product-tab .tab_container {
    border: none;
}

.categorytab-container.custom-grid .products-grid {
	padding: 8px;
}

.categorytab-container.custom-grid .products-grid .products-item:hover {
	z-index: 9;
	-moz-box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
	-webkit-box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
	box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
}

.product-item-name {
	text-align: center;
	margin-bottom: 15px;
	min-height: 40px;
}

.product-item-name a, .product.name a a {
    font-size: 12px !important;
}

.product-item-details .price-box {
    text-align: center;
}

.item .item-inner .box-info .price-final_price {
    float: none;
    text-align: center;
}

.minicart-items .product-item-name a {
    color: @general_product_name_color;
}

.cms-index-index .columns .column.main{
	padding-bottom: 0px !important;
}

.columns .column.main {
	padding-bottom: 40px !important;
}

#newsletter_pop_up .b-close::after {
    content: "chiudi" !important;
}

.pt-banner-container {
	background-color: #000;
	//IE Fix
	overflow: visible !important;
}

.pt-banner-container .owl-carousel .owl-item {
	overflow: hidden;
}

.pt-banner-container .owl-carousel li {
	margin-bottom: 0;
}

.pt-banner-container .owl-carousel .owl-item img {
    width: 100%;
}

.pt-banner-container .pt-banner-content .pt-url {
	display: none !important;
}

.static_le_collezioni_home {
	position: relative;
	//min-height: 216px;
	width: 100%;
	background-color: #000000;
	margin: 0px;
}

.static_le_collezioni_home h2.title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	line-height: 40px;
	white-space: nowrap;
	position: relative;
	padding: 16px 70px;
	display: inline-block;
	border-bottom: 2px solid #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	min-width: 60%;
}

.static_le_collezioni_home p {
	font-size: 20px;
	color: #ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-bottom: 30px;
	width: 60%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.custom-grid {
	margin: 40px 0;
}

.custom-grid .title-tab {
	.title{
		line-height: 59px;
		&:before{
			//content: "\2003";
			content: none;
		}
		span{
			font-weight: normal;
		}
	}
}

.custom-grid .product-item-actions .add-to-cart-primary,
.custom-grid .product-item-actions .add-to-links-secondary {
	width: 100%;
}

.custom-grid .product-item-actions .add-to-links-secondary a.action.wishlist::before {
    content: "\f004";
}

.modal-popup.video-modal .modal-header, 
.modal-popup.video-modal .modal-content, 
.modal-popup.video-modal .modal-footer {
    padding: 0;
}

.modal-popup.video-modal .modal-header {
	display: none!important;
}

.modal-popup.video-modal .modal-footer {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
}

.modal-popup.video-modal .modal-footer button {
	padding: 2px 8px;
}

.static_home_2{
	margin-top: 30px;
	position: relative;
	text-align: center;
	background: url(../images/static_home_2.jpg) 50% no-repeat; 
	background-size: cover;
	min-height: 470px;
	margin-bottom: 100px;
	.text{
		padding-top: 115px;
		color: #fff;
		h2{
			margin: 0px;
			text-transform: uppercase;
			color: #fff;
			font-size: 36px;
			font-weight: bold;
			margin-bottom: 40px;
		}
		p{
			font-size: 18px;
			font-weight:400;
			margin-bottom: 1px;
		}
		.shop{
			font-weight: bold;
			font-size: 14px;
			border: 1px solid #fff;
			padding: 10px 30px;
			color: #fff;
			margin-top: 30px;
			display: inline-block;
			&:hover{
				background: #fff;
				border-color:#fff;
				color: #333; 
			}
		}
	}
}

.page-products .products-grid .product-items,
.page-products .products-list .product-items {
	padding: 8px;
}

.product-image-container {
	//border: solid 1px @general_link_hover_color;
}

.item.product-item:hover {
	z-index: 9;
	-moz-box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
	-webkit-box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
	box-shadow: 0 0 18px 2px rgba(178,178,178,.85);
}

.pages a.page {
	color: #777777;
	&:hover{
		color: @general_link_hover_color;
	}
}

.action.tocompare {
 display: none!important;
}

.action.primary:focus, .action.primary:active {
    background: #222222;
    border: 1px solid #222222;
}

.product-info-main .product-options-wrapper {
    margin: 30px 0 50px;
}

input.mage-error[type="checkbox"] {
    outline: 2px solid #ed8380 !important;
}


.cart-summary .block.expanded > .title {
	cursor: initial;
	padding: 7px 5px;
}

.cart-summary .block.expanded > .title::after {
	content: none;
}

.cart-summary .block.expanded > .content {
    display: block;
}


.intagaram .title_text {
	text-transform: none;
}

.fancybox-skin {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    padding: 0 !important;
}

.newsletter-checkbox {
	margin-left: 20px;
	text-align: left;
}

.newsletter-checkbox #check_privacy {
	width: auto;
}

.footer_por {
	margin-top: 50px;
}

.filter-current .action.remove {
    left: 2px !important;
}

@media only screen and (max-width: 1199px){
	.static_home_2 .text {
		h2{
		    margin-bottom: 20px;
		    font-size: 30px;
		}
		p{
			margin-bottom: 0px;
			font-size: 14px;
		}
		.shop{
			    font-size: 11px;
			    padding: 7px 20px;
		}
	}

}

@media only screen and (max-width: 1024px){
	.page-products .products-grid .product-items {
		margin-left: 0px;
	}
	.column.main .product-item {
		padding: 0 10px !important;
	}
}

@media only screen and (max-width: 991px){
	.header-content{
		.card{
			margin-top: 0px;
		}
	}
	.top-bar {
		text-align: right;
	}
	.top-bar .store-locator {
		float: none !important;
		display: inline-block;
	}
	.top-bar ul.links.link-follow {
		margin-right: 0px;
	}
	.static_home_2{
		    min-height: 370px;
		.text{
			padding-top: 79px;
		}
	}
}

@media only screen and (max-width: 768px){
	.modal-popup.modal-slide.video-modal {
		left: 0px;
	}
}

@media only screen and (max-width: 767px){
	.pt-banner-container .owl-carousel .owl-item img {
		max-width: inherit;
		width: 120%;
		position: relative;
		left: -10%;
	}
	.static_le_collezioni_home h2.title {
		font-size: 25px;
	}
	.static_le_collezioni_home p {
		font-size: 15px;
	}
	.static_home_2{
		background-image: url(../images/static_home_2_mobile.jpg);
	}
	.footer-container .footer-top .footer-static-title {
		display: inline-block;
		width: 100%;
	}
}

@media only screen and (max-width: 580px){
	.top-bar {
		height: auto !important;
		text-align: center;
	}
	.top-bar * {
		float: none !important;
	}
	.top-bar .hotline {
		line-height: 1.5em;
	}
	.top-bar .store-locator {
		margin-right: 0px;
		font-size: 15px;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: 480px){
	.static_le_collezioni_home h2.title {
		margin: 0;
		font-size: 20px;
		padding: 10px 70px;
	}
	.static_le_collezioni_home p {
		width: 100%;
		font-size: 12px;
		line-height: 1.2em;
		margin-bottom: 10px;
	}
}




/* Studio3PL */

.iwd_main_wrapper .iwd_opc_field.iwd_opc_input, .iwd_main_wrapper .field.iwd_opc_input, .iwd_main_wrapper .iwd_opc_field .input-text, .iwd_main_wrapper .field .input-text, .iwd_main_wrapper .iwd_opc_field textarea, .iwd_main_wrapper .field textarea, .iwd_main_wrapper .iwd_opc_field .iwd_opc_hosted_field, .iwd_main_wrapper .field .iwd_opc_hosted_field, .iwd_main_wrapper .iwd_opc_field.iwd_opc_textarea, .iwd_main_wrapper .field.iwd_opc_textarea, .fieldset .iwd_main_wrapper .iwd_opc_field.iwd_opc_input{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	width:100%;
}

.iwd_main_wrapper .iwd_opc_field .scroll-wrapper, .iwd_main_wrapper .field .scroll-wrapper, .iwd_main_wrapper .iwd_opc_field .iwd_opc_select_container, .iwd_main_wrapper .field .iwd_opc_select_container, .iwd_main_wrapper button.iwd_opc_button, .iwd_main_wrapper .field .scroll-wrapper, .iwd_main_wrapper div.iwd_opc_button, .iwd_main_wrapper button.iwd_opc_small_button{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	width:100%;
}

.iwd_main_wrapper .fieldset .field .control {
    position: relative;
    width: 100% !important;
}

.payment-method-billing-address{
	margin-top: 42px;
    padding-top: 25px;
	border-top:#e5e5e5 1px solid;
}
