<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Category layered navigation
 *
 * @var $block \Magento\LayeredNavigation\Block\Navigation
 */
?>

<?php if ($block->canShowBlock()): ?>
    <div id="filterMobile">
        <ul>
            <li class="topLevel">
                <?php echo __('Filter by'); ?>
                <ul>
                    <li>
                        <div class="block filter" id="layered-filter-block" data-mage-init='{"collapsible":{"openedState": "active", "collapsible": true, "active": false, "collateral": { "openedState": "filter-active", "element": "body" } }}'>
                            <?php $filtered = count($block->getLayer()->getState()->getFilters()) ?>
                            <!--
                            <div class="block-title filter-title" data-count="<?php // /* @escapeNotVerified */ echo $filtered; ?>">
                                <strong data-role="title"><?php // /* @escapeNotVerified */ echo __('Shop By') ?></strong>
                            </div>
                            -->
                            <div class="block-content filter-content">
                                <?php echo $block->getChildHtml('state') ?>

                                <?php if ($block->getLayer()->getState()->getFilters()): ?>
                                    <div class="block-actions filter-actions">
                                        <a href="<?php /* @escapeNotVerified */ echo $block->getClearUrl() ?>" class="action clear filter-clear"><span><?php /* @escapeNotVerified */ echo __('Clear All') ?></span></a>
                                    </div>
                                <?php endif; ?>
                                <?php $wrapOptions = false; ?>
                                <?php foreach ($block->getFilters() as $filter): ?>
                            <?php if ($filter->getItemsCount() && $filter->getName() != __('Category')): ?>
                            <?php if (!$wrapOptions): ?>
                                <!--<strong role="heading" aria-level="2" class="block-subtitle filter-subtitle"><?php /* @escapeNotVerified */ echo __('Shopping Options') ?></strong>-->
                                <div class="filter-options" id="narrow-by-list" data-role="content" data-mage-init='{"accordion":{"openedState": "active", "collapsible": true, "active": false, "multipleCollapsible": false}}'>
                                    <?php  $wrapOptions = true; endif; ?>
                                    <div data-role="collapsible" class="filter-options-item">
                                        <h3><?php /* @escapeNotVerified */ echo strtolower(__($filter->getName())) ?></h3>
                                        <div data-role="title" class="filter-options-title"><?php /* @escapeNotVerified */ echo __('find out more') ?></div>
                                        <div data-role="content" class="filter-options-content"><?php /* @escapeNotVerified */ echo $block->getChildBlock('renderer')->render($filter); ?></div>
                                    </div>
                                    <?php endif; ?>
                                    <?php endforeach; ?>
                                    <?php if ($wrapOptions): ?>
                                </div>
                            <?php else: ?>
                                <script>
                                    require([
                                        'jquery'
                                    ], function ($) {
                                        $('#layered-filter-block').addClass('filter-no-options');
                                    });
                                </script>
                                <?php endif; ?>
                            </div>
                        </div>

                    </li>
                </ul>


            </li>
        </ul>
    </div>

    <script>
        require([
            'jquery'
        ], function ($) {
            /*
            var winWidth = parseInt($(window).width());
            if(winWidth <= 768) {
                $('#layered-filter-block').appendTo('#filterMobile .topLevel li');
            }

            $(window).resize(function(){
                winWidth = parseInt($(window).width());
                if(winWidth <= 768) {
                    $('#layered-filter-block').appendTo('#filterMobile .topLevel li');
                } else {
                    $('#layered-filter-block').appendTo('.sidebar.sidebar-main');
                }
            })
            */
        });
    </script>
<?php endif; ?>
