<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<form class="form-subscribe"
	novalidate
	action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
	method="post"
	data-mage-init='{"validation": {"errorClass": "mage-error"}}'
	id="newsletter-validate-detail">
	<div class="field newsletter">
        <!--
		<h3 class="title"><?php /* @escapeNotVerified */ echo __('NEWSLETTER') ?>
			<span><?php /* @escapeNotVerified */ echo __('Subscribe to our newsletter, and join the Exclusive Luca Barra Club to receive members-only promotions and discounts.') ?></span>
		</h3>
        -->
		<div class="control">
			<input name="email" type="email" id="newsletter"
						placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
						data-validate="{required:true, 'validate-email':true}"/>
			<button class="action subscribe" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
				<span class="pe-7s-mail"></span><?php /* @escapeNotVerified */ //echo __('Subscribe') ?>
			</button>
		</div>
	</div>
	
</form>
